* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color: #8ecae6;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.wrapper{
  display: flex;
  justify-content:center;
  align-items:center;
  /* border-style: solid;
  border-color: greenyellow; */

}

.yesNoOutside{
    border-style: solid;
    border-width: 4px;
    border-color: #805b10;
    width:200px;
    height: 500px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff185;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px black;
   
}

.yesButton{
    border-style: solid;
    border-width: 4px;
    border-color: #2c6e49;
    border-radius: 100px;
    width: 160px;
    height: 160px;
    background-color:#76c893;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yesButton:hover{
  cursor: pointer;
}
.yesButton:active {
  box-shadow: 0 0 0 white;
   
}


.Y{
  font-family: 'Tilt Neon';
  font-size: 80px;
  color: #2c6e49;;

}
.noButton{
    /* margin-top:40px; */
    border-style: solid;
    border-width: 4px;
    border-color: #6a040f;
    border-radius: 100px;
    width: 160px;
    height: 160px;
    background-color: #ce4257;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noButton:hover{
  cursor: pointer;
}
.noButton:active {
  box-shadow: 0 0 0 white;
    
}
.N{
  font-family: 'Tilt Neon';
  font-size: 80px;
  color: #6a040f;
}


